# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.log
db.sqlite3
.env

# MySQL credentials or config
*.mysql

# Virtual environment
env/
venv/

# IDEs
.vscode/
.idea/

# Migrations
*/migrations/*.py
!*/migrations/__init__.py

# Static / media files
staticfiles/
media/

# Jupyter Notebook
.ipynb_checkpoints

# Django cache
*.cache

# Python packaging
*.egg-info/
dist/
build/

# Coverage reports
htmlcov/
.coverage
